@import "tailwindcss";
@theme {
    --animate-gentle:gentle 2s ease-in-out infinite;
   @keyframes gentle{
    0% 100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.08);
    }
   } 
}